.main-container {
  position: relative;
}

main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  padding: 5px;
  justify-items: center;
}

/* h2 {
  font-size: 14pt;
  text-align: center;
  font-weight: 700;
} */

.favorite-list img {
  border-radius: 4px;
  box-shadow: 0px, 0px, 4px, #6a6a6a;
}
