<form #searchForm="ngForm" (ngSubmit)="submitSearchForm(searchForm)">
  <select ngModel name="genre" id="genres" class="custom-select">
    <option value="" class="select-selected">---Select Genre---</option>
    <option
      *ngFor="let genre of genres"
      [value]="genre.id"
      class="select-selected"
      >{{ genre.name }}</option
    >
  </select>
  <label for="yearInput">Enter Year</label>
  <input type="number" name="yearInput" min="1883" max="9999" ngModel />
  <select ngModel name="certification" id="" class="custom-select">
    <option value="" class="select-selected">---Select Rating---</option>
    <option value="G" class="select-selected">G</option>
    <option value="PG" class="select-selected">PG</option>
    <option value="PG-13" class="select-selected">PG-13</option>
    <option value="R" class="select-selected">R</option>
    <option value="NC-17" class="select-selected">NC-17</option>
    <option value="NR" class="select-selected">NR</option>
  </select>
  <button>Submit</button>
</form>

<app-movie-list [displayMovies]="movies"></app-movie-list>
