/* Header  */

header {
  background-color: #212121;
  text-align: center;
}

.cinemascan-logo {
  margin: 0 auto;
  height: 96px;
  width: 96px;
}

h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fbc02d;
}

.light {
  color: white;
}

.title-emphasis {
  font-weight: 900;
}

.custom-select {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fbc02d;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #c49000;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
