<main>
  <section
    class="main-container"
    *ngFor="let movies of displayMovies; index as i"
  >
    <div class="movie-list">
      <!-- <h2>{{ movies.title }}</h2> -->
      <img
        src="https://image.tmdb.org/t/p/w185/{{ movies.poster_path }}"
        alt="{{ movies.title }}"
        (click)="setIndex(i)"
      />
    </div>
    <section class="modal-container" *ngIf="index === i">
      <div class="modal">
        <div class="overlay"></div>
        <div class="backdrop">
          <img
            src="https://image.tmdb.org/t/p/original/{{ movies.backdrop_path }}"
          />
        </div>
        <div class="information">
          <a (click)="resetIndex(i)" class="close">X</a>
          <p>
            <i class="material-icons" (click)="toggleFavorite(i, movies)">
              {{ favoriteIcon }}
            </i>
          </p>
          <h2>{{ movies.title }}</h2>

          <h3>({{ movies.release_date }})</h3>
          <p>{{ movies.vote_average }}</p>
          <img
            class="movie-poster"
            src="https://image.tmdb.org/t/p/w342/{{ movies.poster_path }}"
          />
          <h3>Overview</h3>
          <p class="overview">{{ movies.overview }}</p>
        </div>
      </div>
    </section>
  </section>
</main>
